<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    
      <class name="com.saucedemo.TestPack.TC1_VerfiyLoginFunctionality"/>
      <class name="com.saucedemo.TestPack.TC2_VerifyLogOutFunctionality"/>
      <class name="com.saucedemo.TestPack.TC3_VerifyBagProductAddToCartFunctionality"/>
      <class name="com.saucedemo.TestPack.TC4_VerfiyAllProductsAddToCartFunctionality"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
